.btn-sm-submit {
  height: 20px;
  border-radius: 4px;
  font-size: 13px;
  line-height: 20px;
  padding: 0 12px;
  transition: .1s ease;
  color: #fff;
  background-color: $color-blue;
  border: 1px solid $color-blue;

  &:hover {
    background-color: $color-blue-hover;
    border: 1px solid $color-blue-hover;
  }
}