.uface {
  display: block;
  overflow: hidden;
  border-radius: 50%;

  img {
    width: 100%;
    height: auto;
  }
}

.bface {
  display: block;
  overflow: hidden;

  img {
    width: 100%;
    height: auto;
  }
}

.oneline {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dot {
  margin: 0 5px;
  font-size: 12px;

  &:after {
    content: "•";
    color: $color-gray-word;
  }
}