#vue-paginate {
  margin-top: 20px;

  .post-item {
    min-height: 80px;
    border-top: 1px solid $color-gray-hover;
    background-color: #fff;
    transition: background-color .2s;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;

    .head {
      display: flex;
      justify-content: space-between;
      align-items: center;

      a {
        font-weight: 700;
      }

      >div {
        display: flex;
        align-items: center;
      }

      .uface, .bface {
        width: 30px;
        height: 30px;
      }

      .bface {
        padding-left: 20px;
      }

      .gray-link {
        margin-left: 5px;
        font-size: 13px;
      }
    }

    .body {
      font-size: 13px;

      p {
        margin: 10px 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 1.7;
        color: #222;
      }

      img {
        height: 135px;
        display: block;
        margin-right: 10px;
      }

      ul {
        height: 135px;
        overflow: hidden;
      }
      
      li {
        float: left;
      }
    }

    .foot {
      display: flex;
      justify-content: flex-end;
    }
  }

  .bangumi-item {
    display: flex;
    width: 240px;
    float: left;
    margin-bottom: 20px;

    .bface {
      width: 60px;
      height: 60px;
      margin-right: 10px;

      img {
        transition: .2s;
      }

      &:hover {
        img {
          transform:scale(1.5);
        }
      }
    }

    .oneline {
      max-width: 170px;
    }
  }

  .bangumi-star {
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 20px;
    width: 240px;
    height: 60px;

    .bface {
      width: 60px;
      height: 60px;
      margin-right: 10px;
      float: left;

      img {
        transition: .2s;
      }

      &:hover {
        img {
          transform:scale(1.5);
        }
      }
    }

    .info {
      height: 60px;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      button {
        align-self: flex-end;
        width: 65px;
      }
    }
  }

  .user-item {
    display: flex;
    width: 240px;
    float: left;
    align-items: center;
    margin-bottom: 20px;

    .uface {
      width: 60px;
      height: 60px;
      margin-right: 10px;
    }

    .oneline {
      max-width: 170px;
    }
  }
}