@import "normalize";
@import "reboot";
@import "container";
@import "variables";
@import "link";
@import "word";
@import "button";
@import "class";

body {
  font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif;
  overflow-x: hidden;
}

input[type=text],
input[type=file],
input[type=url],
input[type=password],
input[type=email],
textarea {
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid $color-gray-hover;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 100px #e9fbfe inset !important;
  background-color: #e9fbfe !important;
  border-color: #e4f4f9 !important;
}

div:empty:before{
  content: attr(placeholder);
  color: $color-gray-word;
}

div:focus:before{
  content: none;
}

div:focus {
  outline: 0;
}