$color-blue: #00bfef;
$color-blue-hover: #00a7de;

$color-pink: #ff8eb3;
$color-link-gray: #6d757a;
$color-help: #c33;

$color-gray-light: #f6f9fa;
$color-gray: #e5e9ef;
$color-gray-deep : #ccd0d7;
$color-gray-bg : #edece9;
$color-gray-word : #99a2aa;

$color-green-light: #52C6CA;
$color-green: #00bb9c;
$color-green-deep: #34c749;

$color-violet: #9d55b8;
$color-tool : #535353;

$color-sakura-light: #FFB7C5;
$color-sakura: #ff9eb0;
$color-sakura-deep: #ff607f;

$color-yellow-light: #f5d562;
$color-yellow: #f3cf4a;
$color-yellow-deep: #fdbc40;

$color-red-light: #fc605c;
$color-red: #c84c44;
$color-red-deep: #a0362f;